.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.filters > div {
  margin-right: 10px;
  cursor: pointer;
}

.filters > div:last-child {
  margin-right: 0;
}

.textInput {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.textInput:focus {
  outline: none;
  border-color: #007bff;
}

.submitButton {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #0056b3;
}

.todo {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.todo input[type="checkbox"] {
  margin-right: 8px;
}

.todo span {
  flex-grow: 1;
  font-size: 20px;
}

.todo button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.todo button:focus {
  outline: none;
}

.done {
  text-decoration: line-through;
  color: #999;
}

.deleteAllButton {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.deleteAllButton:hover {
  background-color: #d9534f;
}
